@page "/polymers"
@inherits BaseListPage<IPolymerService, Polymer, PolymerUpsertPanel>
@using Filamentous.Web.Services
@using JumpStart.Services
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [StreamRendering]
@*@attribute [Authorize]*@
<PageTitle>Polymers</PageTitle>

<h1>Polymers</h1>

@if (_entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="border-top:1px solid lightgrey;margin-bottom:3em">
        <FluentToolbar Style="margin-top:0;padding-top:0">
            <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Regular.Size12.Add())"
                          @onclick="@(() => OnAddEntityClick((e) => e.Name))" Title="Add an image type">Add Image Type</FluentButton>
        </FluentToolbar>
    </div>

    <!-- This page is rendered in SSR mode, so the FluentDataGrid component does not offer any interactivity (like sorting). -->
    <FluentDataGrid Id="grid" TGridItem="Polymer" Items="@_entities" GridTemplateColumns="1fr 1fr 1fr 2fr">
        <PropertyColumn Title="Name" Property="@(c => c.Name)" Align="Align.Start" />
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton aria-label="Edit item" IconEnd="@(new Icons.Regular.Size16.Edit())" @onclick="@(() => OnEditEntityClick(context, (e) => e.Name))" />
            <FluentDeleteButton TItem="Polymer"
                                Item="context"
                                DataService="DataService"
                                TitleResourceKey="Components_Polymer_List_DeleteTitle"
                                TextResourceKey="Components_Polymer_List_DeleteText" />
        </TemplateColumn>
    </FluentDataGrid>
}

@code {

}